[submodule "VisualEngine/ComfyUI"]
	path = VisualEngine/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
	ignore = dirty
[submodule "SoundEngine/ACE-Step-1.5"]
	path = SoundEngine/ACE-Step-1.5
	url = https://github.com/ace-step/ACE-Step-1.5.git
	ignore = dirty
[submodule "TextEngine/llama.cpp"]
	path = TextEngine/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	ignore = dirty
